@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
    background-color: #161718;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.sign-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #EBEFEC;
    font-size: 1.15rem;
    &-container{
        border: 4px solid lighten(#161718, 20%);
        border-radius: 20px;
        width: 35%;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        background-color: lighten(#161718, 10%);
        box-shadow: 0px 0px 40px lighten(#161718, 40%);
        .p-h1 {
            font-size: 1.7rem;
            font-weight: 600;
            margin: auto;
        }
        ul {
            width: 100%;
            margin: 6px 0px;
        }
        li {
            color: #B62020;
            justify-content: center;
            text-align: center;
            margin: auto;
            
        }
        .li-error {
            list-style: none;
        }
    }
    form {
        margin: 0;
        width: 90%;
        .sign-in-btn-submit {
            background-color: #3DA0D1;
            &:hover {
                box-shadow: 0px 0px 10px lighten(#3DA0D1, 10%);
            }
        }
        button {
            font-size: 20px;
            margin-top: 10px;
            width: 100%;
            justify-content: center;
            text-align: center;
            padding: 12px 10px;
            color: #EBEFEC;
            background-color: #D72D77;
            border: none;
            border-radius: 10px;
            transition: box-shadow 0.3s ease;
            &:hover {
                cursor: pointer;
                transition: box-shadow 0.2s ease;
                box-shadow: 0px 0px 10px lighten(#D72D77, 10%);
            }
        }
        p {
            margin: 0;
            display: flex;
            justify-content: center;
            a {
                margin-left: 8px;
                color:#D72D77;
                transition: color 0.3ms ease;
                &:hover {
                    color: lighten( #D72D77, 10%);
                    transition: color 0.3s ease;
                }
            }
        }
        .input-container {
            position: relative;
            margin: 20px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            label {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                color: #EBEFEC;
                font-size: 1.1rem;
                transition: all 0.3s ease;
                pointer-events: none;
            }
            .sign-in-input {
                border: 3.5px solid #D72D77;
                &:focus {
                    border: 3px solid #3DA0D1;
                }
            }
            input {
                width: 100%;
                font-size: 1.1rem;
                border-radius: 8px;
                padding: 13px 10px;
                border: 3.5px solid #3DA0D1;
                transition: border-color 0.3s ease;
                background-color: transparent;
                color: #EBEFEC;
                
                &::placeholder {
                    color: transparent;
                }
                &:focus {
                    border: 3px solid #D72D77;
                    outline: none;
                    &::placeholder {
                        color: lighten(#161718, 60%);
                        }
                    
                }
            }
            input:focus + label,
            input:not(:placeholder-shown) + label {
                top: -10px;
                left: 10px;
                font-size: 0.8rem;
                transform: translateY(0);
                transition: all 0.3s ease;
                background-color:lighten(#161718, 10%);
                padding: 0px 2px ;
            }

        }
    }

}
