@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  background-color: #161718;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.sign-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  color: #EBEFEC;
  font-size: 1.15rem;
}
.sign-form-container {
  border: 4px solid #474a4d;
  border-radius: 20px;
  width: 35%;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #2e3133;
  -webkit-box-shadow: 0px 0px 40px #787d82;
          box-shadow: 0px 0px 40px #787d82;
}
.sign-form-container .p-h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: auto;
}
.sign-form-container ul {
  width: 100%;
  margin: 6px 0px;
}
.sign-form-container li {
  color: #B62020;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto;
}
.sign-form-container .li-error {
  list-style: none;
}
.sign-form form {
  margin: 0;
  width: 90%;
}
.sign-form form button {
  font-size: 20px;
  margin-top: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 12px 10px;
  color: #EBEFEC;
  background-color: #D72D77;
  border: none;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.sign-form form button:hover {
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  -webkit-box-shadow: 0px 0px 10px #df5893;
          box-shadow: 0px 0px 10px #df5893;
}
.sign-form form p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sign-form form p a {
  margin-left: 8px;
  color: #D72D77;
  -webkit-transition: color 0.3ms ease;
  transition: color 0.3ms ease;
}
.sign-form form p a:hover {
  color: #df5893;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.sign-form form .input-container {
  position: relative;
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sign-form form .input-container label {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #EBEFEC;
  font-size: 1.1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}
.sign-form form .input-container input {
  width: 100%;
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 13px 10px;
  border: 3.5px solid #3DA0D1;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  background-color: transparent;
  color: #EBEFEC;
}
.sign-form form .input-container input::-webkit-input-placeholder {
  color: transparent;
}
.sign-form form .input-container input::-moz-placeholder {
  color: transparent;
}
.sign-form form .input-container input:-ms-input-placeholder {
  color: transparent;
}
.sign-form form .input-container input::-ms-input-placeholder {
  color: transparent;
}
.sign-form form .input-container input::placeholder {
  color: transparent;
}
.sign-form form .input-container input:focus {
  border: 3px solid #D72D77;
  outline: none;
}
.sign-form form .input-container input:focus::-webkit-input-placeholder {
  color: #adb0b3;
}
.sign-form form .input-container input:focus::-moz-placeholder {
  color: #adb0b3;
}
.sign-form form .input-container input:focus:-ms-input-placeholder {
  color: #adb0b3;
}
.sign-form form .input-container input:focus::-ms-input-placeholder {
  color: #adb0b3;
}
.sign-form form .input-container input:focus::placeholder {
  color: #adb0b3;
}
.sign-form form .input-container input:not(:-moz-placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  transform: translateY(0);
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #2e3133;
  padding: 0px 2px;
}
.sign-form form .input-container input:not(:-ms-input-placeholder) + label {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  -ms-transform: translateY(0);
      transform: translateY(0);
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #2e3133;
  padding: 0px 2px;
}
.sign-form form .input-container input:focus + label,
.sign-form form .input-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #2e3133;
  padding: 0px 2px;
}